<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-cn" xml:lang="zh-cn">
<head>
    <title>微信助手</title>
    <script type="text/javascript" src="__PUBLIC__/WechatApp/js/script.js"></script>
</head>
 
<body  class="login course-1 notloggedin dir-ltr lang-zh_cn_utf8" id="login-index"> 
    

        <!-- START OF CONTENT --> 
        <div id="content">
            {__CONTENT__}
        </div> 
        <!-- END OF CONTENT --> 

</body>
</html>






