        <div class="loginbox clearfix twocolumns"> 
          <div class="loginpanel"> 
            <h2>请输入你的邀请码</h2> 
              <div class="subcontent loginsub">         
                <form action="" method="post" id="login"> 
                  <div class="loginform"> 
                    <div class="form-label">
                        <label for="InvitationCode">邀请码</label>
                    </div> 
                    <div class="form-input"> 
                      <input type="text" name="InvitationCode" id="InvitationCode" size="15" value="" />
                      <br>
                      <span id="userTip" class="errorTip"></span> 
                    </div> 
        
                    <div class="clearer"></div> 
        
                     <div class="form-label">
                        <label for="captcha">验证码</label>
                    </div> 
                    <div class="form-input"> 
                      <input type="text" name="captcha" id="captcha" size="15" value="" />
                      <img src="__MODULE__/user/captcha/atype/register/" id="captchaImg" style="cursor: pointer; width: 100px; height: 40px;">
                      <br>
                      <span id="captchaTip" class="errorTip"></span>
                    </div> 
        
                    <div class="clearer"></div> 
        
                    <div class="form-input"> 
                      <input type="submit" id="submit" name="register" value="进入" /> 
                    </div> 
        
                    <div class="clearer"></div> 
                  </div> 
                </form> 
              </div> 
              
             </div> 
            <div class="signuppanel"> 
              <h2>注册帮助</h2> 
              <div class="subcontent"> 
                <p>
                    <b>1 用户名</b> <br> 
                    用户名必须是字母、数字或下划线，且必须以字母开头（至少6位）<br>
                    <b>2 密码和确认密码</b> <br> 
                    密码和确认密码必须相同，且至少8位<br>
                    <b>3 验证码</b> <br> 
                    验证码不区分大小写<br>
                </p>     
              </div> 
            </div> 
        </div> 
