        <div class="loginbox clearfix twocolumns"> 
          <div class="loginpanel"> 
            <h2>请输入你的邀请码</h2> 
              <div class="subcontent loginsub">         
                <form action="" method="post" id="login"> 
                  <div class="loginform"> 
                    <div class="form-label">
                        <label for="InvitationCode">邀请码</label>
                    </div> 
                    <div class="form-input"> 
                      <input type="text" name="InvitationCode" id="InvitationCode" size="40" value="" />
                      <br>
                      <span id="invitationCodeTip" class="errorTip"></span> 
                    </div> 
        
                    <div class="clearer"></div> 
        
                     <div class="form-label">
                        <label for="captcha">验证码</label>
                    </div> 
                    <div class="form-input"> 
                      <input type="text" name="captcha" id="captcha" size="15" value="" />
                      <img src="Index/captcha/atype/register/" id="captchaImg" style="cursor: pointer; width: 100px; height: 40px;">
                      <br>
                      <span id="captchaTip" class="errorTip"></span>
                    </div> 
        
                    <div class="clearer"></div> 
        
                    <div class="form-input"> 
                      <input type="submit" id="submit" name="register" value="进入" /> 
                    </div> 
        
                    <div class="clearer"></div> 
                  </div> 
                </form> 
              </div> 
              
             </div> 
            <div class="signuppanel"> 
              <h2>帮助</h2> 
              <div class="subcontent"> 
                <p>
                    <b>当前提供邀请码的访问。微信扫描登录成功之后邀请码将被锁定，必须在手机端退出之后才能重新使用。</b> 
                    <br>
                </p>     
              </div> 
            </div> 
        </div> 
